/* estilo galería */
/* defino tamaño de las imágenes*/
.contenedorGaleria{
    .filaGaleria{
        .prodUno{
            .galTamUno{
                width: $imgGaleria-width;
                height: $imgGaleria-height;
                border-radius: 10px;
                border-bottom: $imgGaleria-border;
                border-right: $imgGaleria-border;
                padding: 10px;
            }
        }
    }
}
/* modificación para desktop*/
@media screen and (min-width: 1200px) {
    .contenedorGaleria{
        .filaGaleria{
            .prodUno{
                .galTamUno{
                    gap: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}    