/*productos.html*/

/*estilo de las cards*/
.filaCard{
    .card{
        .card-img{
            width: 100%;
            height: 100%;
        }
        .card-body{
            .card-title{
                font-size: $size-textoUno;
            }
            .colorProd{
                font-size: $size-textoUno;
            }
        }  
        .list-group{
            .list-group-item{
                font-size: $size-textoUno;
            }
        }
        .btnAgrega{
            display: flex;
            justify-content: space-around;
            .agregar{
                @include btnColor($boton-color: rgb(35, 15, 48), $boton-bg-color: #f8c49f);
                font-size: $size-textoUno;
                padding: 02px;
                width: 100px;
            }
        }  
    }
}
/* modificación para desktop*/
@media screen and (min-width: 1200px) {
    .filaCard{
        .card{
            .card-body{
                .card-title{
                    font-size: $size-textoDos;
                }
                .colorProd{
                    font-size: $size-textoDos;
                }                
            }  
            .list-group{
                .list-group-item{
                    font-size: $size-textoUno;
                }
            }
            .btn{
                @include btnColor($boton-color: rgb(35, 15, 48), $boton-bg-color: #f8c49f);
                padding: 02px;
            }  
        }
    }
}