$bg-color: rgb(232, 232, 228);
$nav-bg-color: rgb(174, 180, 169);
$boton-color: rgb(35, 15, 48);
$boton-bg-color: #f8c49f;
$botonHover-color: #80ed99;
$font-primary-color: rgb(56, 37, 95);
$font-secondary-color: rgb(29, 16, 54);
$font-third-color: rgb(220, 218, 224);
//shadow-color incluye el tamaño
$shadow-color-sm: 2px 2px rgb(167, 168, 170);
$shadow-color-xl: 3px 3px rgb(167, 168, 170);
//--------------------------------------------
$ofer-bg-color: rgb(65, 63, 63) ; 
