// sobre-nosotros.html: grilla (descripción de la empresa más imágenes)
.descriEm{
    display:grid;
    grid-template-areas: 
    "historia"
    "imgEmUno"
    "imgEmDos"
    "imgEmTres"
    "imgEmCuatro";
    grid-template-columns: 100%;
    grid-template-rows: 200px 300px 300px 300px 300px;
    padding: map-get($estilos, c-05px);
    .historia{
        grid-area: historia;
        font-family: $secondary-font;
        font-size: $size-textoUno;
        @extend %grillaBase;
        padding: map-get($estilos, d-10px);
        border-radius: map-get($estilos, d-10px);
        margin-left: map-get($estilos, c-50px);
        width: $historia-width-sm;
        height: $historia-height-sm;
    }
    .imgEmUno{
        grid-area: imgEmUno;
    }
    .imgEmDos{
        grid-area: imgEmDos;
    }
    .imgEmTres{
        grid-area: imgEmTres;
    }
    .imgEmCuatro{
        grid-area: imgEmCuatro;
    }
    .imgEmUno, .imgEmDos, .imgEmTres, .imgEmCuatro{
        display:flex;
        justify-content: center;
        // tamaño de las imágenes
        .imgTam{
            width: $imgNosotros-width-sm;
            height: $imgNosotros-height-sm;
            border-bottom: $grid-imgBorder-sm; 
            border-radius: map-get($estilos, q-15px);
        }
    }
}
/* modificación para desktop*/
@media screen and (min-width: 1200px) {
    .descriEm{
        display:grid;
        grid-template-areas: 
        "historia imgEmUno imgEmDos"
        "historia imgEmTres imgEmCuatro";
        grid-template-columns: 300px repeat(2, 450px);
        grid-template-rows: repeat(2, 500px);
        padding: map-get($estilos, v-20px);
        .historia{
            display:flex;
            flex-direction: column;
            font-size: $size-textoTres;
            padding: map-get($estilos, v-20px);
            border-radius: map-get($estilos, v-20px);
            border-bottom: $grid-borderB-xl;
            margin: map-get($estilos, q-15px);
            width: $historia-width-xl;
            height: $historia-height-xl;
        }
        /* tamaño de las imágenes */
        .imgEmUno, .imgEmDos, .imgEmTres, .imgEmCuatro{
            display:flex;
            justify-content: center;
            align-items: center;
            margin-bottom: map-get($estilos, q-15px);
            .imgTam{
                border-bottom: $grid-imgBorder-xl; 
                border-radius: map-get($estilos, v-20px);
            }
        }
    }
}    
