/* estilo links de interés */
.interes{
    display:grid;
    grid-template-areas: 
    "logoEm nombreEm"
    "infoEm infoEm";
    grid-template-columns: 150px auto;
    grid-template-rows: 100px 100px;
    align-items: center;
    margin: 30px;
    padding: 10px;
    font-size: $size-textoUno;
    color: $font-fill-color;
    background-color: $grid-bg-color;
    border-bottom: $grid-borderB;
    border-radius: 10px;
    .logoEm{
        grid-area: logoEm; 
        display:flex;
        justify-content: center;
        /* tamaño de los logos de las empresas*/
        .logoTam{
            width: $logoLI-width-sm;
            height: $logoLI-height-sm;
        }
    }
    .nombreEm{
        grid-area: nombreEm;
    }
    .infoEm{
        grid-area: infoEm;
    }
}
/* modificación para desktop*/
@media screen and (min-width: 1200px) {
        /* disposición de la información en filas */
        .interes{
            display:grid;
            grid-template-areas: 
            "logoEm nombreEm infoEm";
            grid-template-columns: 150px 200px 300px;
            grid-template-rows: 100%;
            margin: 50px;
            padding: 20px;
            font-size: $size-textoDos;
            border-bottom: $grid-borderB-xl;
            border-radius: 15px;
            .logoEm, .nombreEm, .infoEm{
                margin-left: 100px;
            }
            .logoEm{
                .logoTam{
                    width: $logoLI-width-xl;
                    height: $logoLI-height-xl;
                }
            }
        }
}