/* estilo de la barra de navegación */
.navbar{
    background-color: $nav-bg-color;
    .logo{
        width: $logo-width-sm;
        height: $logo-height-sm;
    }
    .btn{
        @include btnColor($boton-color: rgb(35, 15, 48), $boton-bg-color: #f8c49f);
        padding: 02px;
        font-size: $size-textoUno;
        &:hover{
            color: $botonHover-color;
            background-color: $botonHover-bgColor;
        }
    }
}
.carrito{
    display: flex;
    justify-content: right;
    margin-right: 50px;
    .carritoImg{
        width: 65px;
        height: 65px;
    }
}
/* modificación para desktop*/
@media screen and (min-width: 1200px) {
    /* responsive para desktop */
    .navbar{
        .logo {
            width: $logo-width-xl;
            height: $logo-height-xl;
        }
        .btn {
            padding: 05px;
            font-size: $size-textoTres;
        }
    }
}        