// aplicado en grid.nosotros.scss y grid-linksInteres.scss
$estilos: (
    d-10px: 10px,
    q-15px: 15px,
    v-20px: 20px,
    t-30px: 30px,
    c-05px: 05px,
    c-40px: 40px,
    c-50px: 50px,
    c-100px: 100px,
)