//logo barra de navegación
$logo-width-sm: 70%;
$logo-height-sm: 70%;
$logo-width-xl: 100%;
$logo-height-xl: 100%;
//------------------------
//icono e imágen index.html-article
$icono-width-sm: 50px;
$icono-height-sm: 50px;
$icono-width-xl: 100px;
$icono-height-xl: 100px;
$img-width: 120%;
$img-height: 100%;
//------------------------
//logo footer
$logoF-width-sm: 20px;
$logoF-height-sm: 20px;
$logoF-width-xl: 40px;
$logoF-height-xl: 40px;
//------------------------
