//logo barra de navegación
$logo-width-sm: 70%;
$logo-height-sm: 70%;
$logo-width-xl: 100%;
$logo-height-xl: 100%;
//------------------------
//icono e imágen index.html-article
$icono-width-sm: 50px;
$icono-height-sm: 50px;
$icono-width-xl: 100px;
$icono-height-xl: 100px;
$img-width: 120%;
$img-height: 100%;
//------------------------
//logo footer
$logoF-width-sm: 20px;
$logoF-height-sm: 20px;
$logoF-width-xl: 40px;
$logoF-height-xl: 40px;
//------------------------
// nosotros.html: estilos contenido del grid
$historia-width-sm: 300px;
$historia-height-sm: 150px;
$historia-width-xl: 250px;
$historia-height-xl: 380px;
$imgNosotros-width-sm: 80%;
$imgNosotros-height-sm: 80%;
// servicios.html: tamaño icono estrella
$estrella-width-sm: 40px;
$estrella-height-sm: 40px;
$estrella-width-xl: 50px;
$estrella-height-xl: 50px;
// galeria.html: tamaño de las imágenes
$imgGaleria-width: 95%;
$imgGaleria-height: 95%;
// links-interes.html: tamaño logo empresa
$logoLI-width-sm: 10vw;
$logoLI-height-sm: 10vh;
$logoLI-width-xl: 20vw;
$logoLI-height-xl: 20vh;